/* GENERAL */

* {
  font-family: 'Montserrat', sans-serif;
}

.inline {
  display: inline;
}

/* INDEX PAGE */

.nav {
  margin-left: 15px;
  margin-right: 15px;
}

.room-link {
  text-decoration: none;
  color: white;
}

.room-container {
  float:left;
  width: 30%;
  padding-bottom: 30%;
  margin:1.66%;
  background-color: #1E1E1E;
}

.room-content {
  position:absolute;
  height:50%;
  width:50%;
  padding: 1% 2%;
  display: flex;
  flex-wrap: wrap;
}

.room-link-name {
  margin-bottom: 0px;
  font-size: 2vw;
}

.room-link-genre {
  margin-top: 0px;
  font-size: 1.8vw;
}

/* HEADER */

#header-link {
  text-decoration: none;
  text-align: center;
  font-size: 4vw;
  color: black;
}

#header-title {
  margin-bottom: 0px;
  margin-top: 0px;
}

#guest-quantity {
  margin-right: 20px;
  margin-top: 0px;
  font-size: 3vw;
}

#room-quantity {
  margin-top: 0px;
  font-size: 3vw;
}
